.hero {
  background-color: #d3cec5;
  height: 135svh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.heroBg {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; 
}

.heroContent {
  align-items: center;
  color: var(--base-100);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  left: 50%;
  padding: 1rem;
  position: absolute;
  text-align: center;
  top: 50svh;
  transform: translate(-50%, -50%);
  width: 75%;
  z-index: 5;
}

.heroGradient {
  background: #1a1818;
   background: linear-gradient(
     360deg,
     rgba(7, 26, 61, 1) 0%,
     rgba(7, 26, 61, 0) 100%
   );
  bottom: 0;
  height: 50svh;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.heroOverlay {
  background-color: #071A3D; 
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.heroStats {
  bottom: 0;
  padding-bottom: 1rem; 
  position: absolute;
  width: 100%;
  z-index: 4;
}

.stat {
  aspect-ratio: 16/9;
  backdrop-filter: blur(1rem);
  background-color: rgba(242, 237, 230, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 1rem;
}

.statsContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.statCount,
.statInfo {
  flex: 1;
}

.statDivider {
  background-color: rgba(255, 255, 255, 0.05);
  height: 1px;
  width: 100%;
}

.statInfo {
  align-items: flex-end;
  display: flex;
}

@media (max-width: 1000px) {
  .hero {
    height: 175svh;
  }
  .heroContent {
    width: 100%;
  }

  .heroTagline {
    width: 75%;
  }

  .statsContainer {
    flex-direction: column;
  }

  .stat {
    aspect-ratio: 16/6;
  }

  .statDivider {
    display: none;
  }
}