.transitionOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  pointer-events: none;
  z-index: 9999;
}

.block {
  flex: 1;
  height: 100%;
  background: #071A3D;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}